.drop {
  @include base-style(100vh, 100vw, $mainBackground);
  position: relative;
  &__logo {
    @include base-style(100px, 200px);
    object-fit: contain;
    padding: 0;
    position: absolute;
    left: 5%;
  }

  &__element {
    @include base-style(100%, 80%);
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  &__card {
    @include base-style(100%, 40%, white, 3%);
    box-shadow: 0 5px 5px rgba(black, 0.3);
    padding: 3%;
  }
  &__text {
    height: 50%;
    > span {
      @include font(0.6em, 300);
    }
  }
  &__zone {
    margin: 0 auto;
    border: 3px dashed #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include base-style(50%, 100%, $mainBackground, 1%);
    > form > label {
      @include font(1em);
    }

    &:hover {
      border: 3px solid #aaa;
    }
  }
  &__danger {
    background: red;
    border: 3px dashed red;

    &::after {
      content: "There a problem check your file type/size";
      @include font(1em);
    }
  }
  &__title {
    margin: 0;
    margin-bottom: 3%;
    @include font(30px, 700);
  }
  &__result {
    > .drop__text {
      margin-top: 15%;
      > p {
        @include font(1em);

        > span {
          font-style: italic;
          @include font(0.8em);

          &.file-upload {
            font-style: normal;
            @include font(1em);
          }
        }
        &:first-child {
          margin-bottom: 10%;
        }
      }
    }
  }

  &__history {
    @include base-style(30%, 80%, white, 1%);
    margin: 0 auto;
    margin-top: 5%;
    padding: 3%;
    box-shadow: 0 3px 5px rgba(black, 0.3);
    overflow-y: scroll;
    @include font(0.9em);

    > table {
      border-collapse: collapse;
      width: 100%;
      td,
      th {
        border: 1px solid #ddd;
        padding: 1%;
      }
      th {
        background-color: $mainBackground;
        @include font(1.2em, $weight: 600);
      }
    }
  }
}
